h1{
    color:red;
    background-color: yellow;
    font-family:mv boli;
}
h5{
    background-image: url("");
    margin: 20px 50px 50px 50px;
    border-radius: 6px;
    border-color: red;
    
}
body{
    background-color:sandybrown;
}